* {
    box-sizing: border-box;
}

body {
    margin: opx;
    padding: 0px;
    text-align: center;
    
    
}

header {
    padding: 0px;
    margin: 15px;
    background: purple;
    color: white;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-style: oblique; 
    border-radius: 10%;
    border-bottom: 2px solid white;  
} 


footer {
    padding: 0px;
    margin: 15px;
    background: black;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white; 

}